#about {
  position: relative;
  background-color: #f0f0f0;
  padding: 100px;
  display: flex;
  align-items: flex-end;
  gap: 60px;
}

.about__title {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  color: #d2d2d2;
  line-height: 0.9;
  letter-spacing: 0.01em;
  font-size: 70px;
  z-index: 2;
}

.about__image {
  width: 480px;
}

.info__description--wide {
  width: 435px;
}
