.contacts {
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.contacts__bg-title {
  display: none;
}

.contacts__title {
  padding-right: 30px;
  text-align: end;
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  letter-spacing: 0.02em;
  font-size: 50px;
  z-index: 2;
}

.contacts__info {
  gap: 40px;
  margin: 30px 0 70px 20px;
  z-index: 2;
}

.contacts__mail,
.contacts__phone {
  p {
    font-size: 20px;
    margin-bottom: 5px;
  }
  a {
    font-size: 18px;
    color: #747373;
  }
}

.contacts__address {
  font-size: 18px;
  color: #747373;
}

.contacts__image {
  width: 100%;
  object-fit: cover;
  min-height: 50vh;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 0;
  }

  .contacts__bg-title {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50px;
    display: inline-block;
    font-size: 180px;
    font-weight: 900;
    color: #ececec;
    width: 100%;
    text-align: center;
    line-height: 0.9;
    z-index: 1;
  }

  .contacts__title {
    padding-right: 80px;
    font-size: 70px;
  }

  .contacts__info {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 40px;
  }
}
