.background-title {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 180px;
  font-weight: 900;
  color: #ececec;
  width: 200px;
  line-height: 0.9;
  z-index: 1;
}

.hero {
  margin: 40px;
  margin-left: 0;
  max-width: 70%;
  width: 845px;
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 2;
}

.hero__image {
  width: 500px;
  z-index: 2;
}

.info {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: start;
}

.info__title {
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  line-height: 1;
  letter-spacing: 0;
  font-size: 70px;
  //   width: 100px;
}

.info__description {
  color: #747373;
  font-size: 14px;
}

.header-bg-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
}
