.review {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.review__description {
  width: 300px;
}

.review__title {
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  line-height: 1;
  letter-spacing: 0;
  font-size: 70px;
  width: 300px;
}

.review__title--underline {
  position: relative;
  text-align: end;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    bottom: -30px;
    height: 3px;
    right: 0;
    background-color: #3a3a3a;
    border-radius: 1px;
  }
}

.benefits {
  margin-top: 70px;
}

.benefits__item {
  text-align: end;
  color: #747373;
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.review__description--second {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review__description-text {
  color: #747373;
  font-size: 14px;
}

.review__button.read-more {
  width: 200px;
  margin-bottom: 20px;
}

.social-media-links {
  display: flex;
  gap: 20px;
}

.social-media-links__item img {
  width: 25px;
  height: 25px;
  filter: none;
  text-shadow: none;
  transition: all 0.3s ease-in-out;

  &:is(:focus, :hover) {
    filter: drop-shadow(0px 0px 10px #c0c0c0);
    transform: scale(1.1);
  }
}

.review__image-wrapper {
  position: relative;
}

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #434343;
  border: 6px solid #d8d8d8;
  border-radius: 50%;
  cursor: zoom-in;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px #b9b9b9;
}

#point1 {
  top: 8%;
  left: 25%;
}

#point2 {
  top: 55%;
  left: 20%;
}

#point3 {
  top: 80%;
  left: 19%;
}

.tooltip {
  position: absolute;
  top: 30%;
  left: -90%;
  width: 410px;
  display: none;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #747373;

  h1 {
    // width: 420px;
    font-family: 'Poppins';
    line-height: 1;
    color: #3a3a3a;
    font-size: 50px;
    margin-bottom: 20px;
  }
}

.backBtn {
  display: none;
  position: absolute;
  top: 0;
  left: -90%;

  & img {
    transform: rotate(180deg);
  }
}
