.review {
  padding: 0 20px 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.review__description {
  width: 100%;
  max-width: 500px;
}

.review__title {
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  line-height: 1;
  letter-spacing: 0;
  font-size: 70px;
}

.review__title--underline {
  position: relative;
  text-align: end;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    bottom: -20px;
    height: 2px;
    right: 0;
    background-color: #3a3a3a;
    border-radius: 1px;
  }
}

.benefits {
  margin-top: 50px;
}

.benefits__item {
  text-align: end;
  color: #747373;
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.review__image-description {
  display: none;
}

.review__description--second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.review__description-text {
  color: #747373;
  font-size: 14px;
}

.review__button.read-more {
  padding: 15px 80px;
  margin-bottom: 5px;
}

.social-media-links {
  display: flex;
  gap: 20px;
}

.social-media-links__item img {
  width: 25px;
  height: 25px;
  filter: none;
  text-shadow: none;
  transition: all 0.3s ease-in-out;

  &:is(:focus, :hover) {
    filter: drop-shadow(0px 0px 10px #c0c0c0);
    transform: scale(1.1);
  }
}

.review__image-wrapper {
  position: relative;
}

.point {
  display: none;
}

@media screen and (min-width: 768px) {
  .review {
    padding: 0 80px;
    margin-top: 30px;
    flex-direction: row;
    gap: 70px;
  }

  .review__description--first {
    display: none;
  }

  .point {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #434343;
    border: 6px solid #d8d8d8;
    border-radius: 50%;
    cursor: zoom-in;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px #b9b9b9;
  }

  #point1 {
    top: 8%;
    left: 25%;
  }

  #point2 {
    top: 55%;
    left: 20%;
  }

  #point3 {
    top: 80%;
    left: 19%;
  }

  .tooltip {
    width: 410px;
    display: none;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #747373;

    h1 {
      font-family: 'Poppins';
      line-height: 1;
      color: #3a3a3a;
      font-size: 50px;
      margin-bottom: 20px;
    }
  }

  .backBtn {
    display: none;
    top: 0;

    & img {
      transform: rotate(180deg);
    }
  }
  .review__image-description {
    position: absolute;
    top: 20%;
    left: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 100;
  }
}

@media screen and (min-width: 1200px) {
  .review__description {
    width: 25%;
  }

  .review__title {
    width: 300px;
    max-width: 300px;
  }

  .benefits {
    margin-top: 70px;
  }

  .benefits__item {
    text-align: end;
    color: #747373;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .review__description--first {
    display: block;
  }

  .review__description--second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

@media screen and(min-width: 1920px) {
  .point {
    width: 35px;
    height: 35px;
    border-width: 10px;
  }

  .review__description {
    width: 45%;
  }

  .review__title {
    max-width: max-content;
    width: 100%;
    font-size: 80px;
  }

  .benefits__item,
  .review__description-text,
  .review__button {
    font-size: 22px;
  }

  .tooltip {
    font-size: 24px;
    width: 650px;

    h1 {
      font-size: 70px;
      margin-bottom: 50px;
    }
  }

  .review__image-description {
    gap: 150px;
  }
}
