#prices {
  min-height: 100vh;
}

.airpods-swiper {
  padding: 0 20px 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.airpods-swiper__title {
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  line-height: 1;
  letter-spacing: 0;
  font-size: 70px;
  margin-bottom: 10px;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  padding-bottom: 40px;
}

.swiper-image {
  border-radius: 15px;
}

.swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.slide-2 img {
  height: 100%;
  width: calc(50% - 20px);
  object-fit: cover;
}

.pagination {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #a8a8a8;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a8a8a8;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  text-align: end;
}

.colors {
  background-color: #dad9d9;
  padding: 15px 20px;
  border-radius: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.color__item {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 2px solid #dad9d9;
  transition: all 0.3s ease-in-out;
}

.color__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: inset(0 0 50% 0);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.color__item.active {
  box-shadow: 0px 0px 0px 1px #2d2d2d;
  border: 2px solid #dad9d9;
}

#black {
  background-color: #2a3139;
  &::before {
    background-color: #22252a;
  }
}

#blue {
  background-color: #91a9b5;
  &::before {
    background-color: #64727d;
  }
}

#starlight {
  background-color: #ccbeb1;
  &::before {
    background-color: #e9e1d4;
  }
}

#purple {
  background-color: #afa6bb;
  &::before {
    background-color: #dad7e0;
  }
}

#orange {
  background-color: #e2a48d;
  &::before {
    background-color: #ffc09d;
  }
}

.description__title {
  display: none;
}

.description__text {
  color: #747373;
  font-size: 14px;
}

.description .read-more {
  padding: 18px 60px;
}

@media screen and (min-width: 768px) {
  #prices {
    overflow: auto;
  }

  // .airpods-swiper__title {
  //   display: none;
  // }

  .swiper-container {
    height: 500px;
    width: 728px;
  }

  .description {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  #prices {
    overflow: hidden;
  }

  .airpods-swiper {
    flex-direction: row;
  }

  .swiper-container {
    height: calc(100vh - 200px);
  }

  .description {
    width: 500px;
  }
  .airpods-swiper__title {
    display: none;
  }

  .description__title {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    line-height: 1;
    letter-spacing: 0;
    font-size: 70px;
  }
}
