<div id="experience">
  <div class="info experience-info">
    <h2 class="experience-info__title">Magical experience</h2>
    <p class="info__description experience-info__description">
      AirPods Max inherit all of the wireless, effortless magic of the AirPods
      family.
      <br />
      From setup to Siri commands, they make the listening experience completely
      fluid - day to day, device to device.
    </p>
    <a href="./pages/overview.html" class="read-more">Read More</a>
  </div>
  <img
    class="experience-bg-image"
    src="./images/case.png"
    alt="airpods max in case"
  />
</div>
