<h1 class="background-title">Air Pods Max</h1>
<div class="hero">
  <img src="./images/1.png" alt="airpods max front view" class="hero__image" />
  <div class="info">
    <h2 class="info__title">Air Pods Max</h2>
    <p class="info__description">
      "AirPods are the most popular headphones in the world, beloved for their
      effortless setup, incredible sound quality, and iconic design." said Greg
      Joswiak
    </p>
    <a href="./pages/overview.html" class="read-more">Read More</a>
  </div>
</div>
<img src="./images/2.png" alt="airpods max side view" class="header-bg-image" />
