<section id="noise">
  <h2 class="noise__title">
    Sounds like <br />
    an epiphany
  </h2>
  <img
    class="noise__image"
    src="./images/girl2.jpg"
    alt="girl in airpods max"
  />
  <div class="info">
    <p class="info__description info__description--wide">
      Industry-leading Active Noise Concellation counters external sound with
      equal anti-noise, allowing you to immerse yourself in what you`re
      listening to.
      <br />
      Press the noise control button to switch to Transparency mode, which lets
      outside sound in so you can interact naturally with your surroundings
    </p>
    <button class="read-more read-more--circle">
      <img src="./images/right-arrow.png" alt="->" />
    </button>
  </div>
</section>
