<!-- <div class="overview"> -->
<!-- <div class="text">Main text for AirPods Max</div>
  <img src="../images/1.png" alt="AirPods Max" class="image" /> -->
<!-- <div class="hotspot" id="point1"></div>
  <div class="hotspot" id="point2"></div> -->
<!-- <button class="back-button" id="backBtn">Return</button> -->
<!-- </div> -->
<!-- <div class="tooltip" id="tooltip1">Description</div>
<div class="tooltip" id="tooltip2">Description</div> -->

<div class="review">
  <div class="review__description review__description--first">
    <h1 class="review__title review__title--underline">New Sound</h1>
    <ul class="benefits">
      <li class="benefits__item">Elegant design and total comfort</li>
      <li class="benefits__item">High-quality sound</li>
      <li class="benefits__item">
        Active noise cancellation and transparency mode
      </li>
      <li class="benefits__item">Spatial audio technology</li>
    </ul>
  </div>
  <div class="review__image-wrapper">
    <img class="review__image" src="../images/1-big.png" alt="airpods max" />

    <div class="point" id="point1"></div>
    <div class="point" id="point2"></div>
    <div class="point" id="point3"></div>

    <div class="tooltip" id="tooltip1">
      <h1>Headband</h1>
      The breathable knit mesh canopy reduces pressure on the head, ensuring a
      light and comfortable fit for prolonged use, while the stainless steel
      frame provides durability and flexibility
    </div>
    <div class="tooltip" id="tooltip2">
      <h1>Inner Ear Cushions</h1>
      Memory foam ear cushions offer superior comfort and sound isolation,
      creating an immersive audio experience by conforming to the shape of your
      ears for an optimal seal
    </div>
    <div class="tooltip" id="tooltip3">
      <h1>Outer Shell and Connectivity</h1>
      Crafted from anodized aluminum, the ear cups are both stylish and durable,
      featuring a Digital Crown for precise volume control and a Lightning port
      for fast charging and seamless connectivity
    </div>
    <button class="read-more read-more--circle backBtn">
      <img src="../images/right-arrow.png" alt="arrow-left" />
    </button>
  </div>
  <div class="review__description review__description--second">
    <h1 class="review__title">Air Pods Max</h1>
    <p class="review__description-text">
      Introducing the AirPods Max headphones, where the highest sound quality is
      in complete harmony with the magical simplicity of Apple.
    </p>
    <button class="review__button read-more">Buy</button>
    <ul class="social-media-links">
      <li class="social-media-links__item">
        <a href="https://facebook.com" target="_blank">
          <img src="../images/facebook.png" alt="Facebook" />
        </a>
      </li>
      <li class="social-media-links__item">
        <a href="https://x.com" target="_blank">
          <img src="../images/twitter.png" alt="Twitter" />
        </a>
      </li>
      <li class="social-media-links__item">
        <a href="https://www.instagram.com" target="_blank">
          <img src="../images/instagram.png" alt="Instagram" />
        </a>
      </li>
    </ul>
  </div>
</div>
